.home {

    &-futy {
        margin-top: 10px;

        width: 42px;
        height: 42px;
    }

    & .accountCard {
        margin-bottom: 20px;
    }

    & .accountActions {
        margin-bottom: 20px;
    }

    & .switch {
        margin-bottom: 20px;
    }
}