.passwordProtection {
    
    &-form {
        margin-bottom: 40px;

        & .input {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &-action {
        display: flex;
        flex-direction: column;

        & .button:first-child {
            margin-bottom: 15px;
        }
    }   
}